<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nuTriton</title>

    <!-- Font -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Lato|Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Ubuntu:300,400,500,700,300italic,400italic,500italic|Open+Sans:400italic,600italic,700italic,700,600,400|Roboto:400,300italic,300,400italic,500,500italic,700,700italic|Raleway:400,300,500,600,700|Pacifico' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- Lightbox -->
	<link href="css/lightbox.css" rel="stylesheet" />
    
    <style>

	body {
		background-color: #e9f1d0;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 160%;
	}

	h3 {
		margin: 0px;
		padding:10px 0px 0px 0px;
	}
	h4 {
		clear:both;
	}
	.panel-body {
		background-color: #f8faef;
	}
	
	.navbar-brand {
		font-family: "Pacifico", serif;
		font-size: 22pt;
		text-shadow: 2px 2px 3px #17A57D;
	}

	
.navbar-default {
  background-color: #87b822;
  border-color: #87b822;
}
.navbar-default .navbar-brand {
  color: #d4dca8;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #d4dca8;
}
.navbar-default .navbar-nav > li > a {
  color: #d4dca8;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #87b822;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #87b822;
}
.navbar-default .navbar-toggle {
  border-color: #87b822;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #87b822;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d4dca8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d4dca8;
}
.navbar-default .navbar-link {
  color: #d4dca8;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d4dca8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #87b822;
  }
}
	/* Responsive embed CSS for Google Maps */
/*    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }*/

	/* Responsive embed CSS for Google Maps */
	#mapContainer {
	    height: 500px;
	    width: 100%;
	}

	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#mapContainer {
		    height: 500px;
	    	width: 100%;
		}
	}	
		
	@media only screen and (max-width: 767px) {
		#mapContainer {
		    height: 260px;
	    	width: 100%;
		}
	}	

	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#mapContainer {
		    height: 400px;
	    	width: 100%;
		}
	}	

    </style>

  </head>
  <body>

  	<!-- NAVBAR -->
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header"> 
				<a href="index" class="navbar-brand">nuTriton </a> 
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse">
				<!-- <ul class="nav navbar-nav">
					<li> <a href="/" > <span class="glyphicon glyphicon-home"></span>  HOME </a></li>
					<li class="active"> <a href="foodfinder" > <span class="glyphicon glyphicon-cutlery"></span> FOOD FINDER </a></li>
				</ul> -->
				
				<!-- <form class="navbar-form navbar-left" role="search">
        			<div class="form-group">
          				<input type="text" class="form-control" placeholder="Search">
        			</div>
      			</form> -->
<!-- 
				<ul class="nav navbar-nav navbar-right">
					<li> <a href="/" > <span class="glyphicon glyphicon-home"></span>  HOME </a></li>
					<li class="active"> <a href="foodfinder" > <span class="glyphicon glyphicon-cutlery"></span> FOOD FINDER </a></li>
					<li> <a href="messages"><span class="glyphicon glyphicon-envelope"></span> MESSAGES </a></li>
					<li> <a href="profile" ><span class="glyphicon glyphicon-user"></span> PROFILE </a></li>
					<li> <a href="" > Log Out </a></li>
				</ul> -->

				<ul class="nav navbar-nav navbar-right">
					<li> <a href="index" > Home </a></li>
					<li class="active"> <a href="foodfinder" > Food Finder </a></li>
					<li> <a href="messages"> Messages </a></li>
					<li> <a href="profile" >Profile </a></li>
					<li> <a href="/" > Log Out </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container"></div>
		</br>
		</br>
		</br>
		</br>
	</div>

	<div class="container">
		<!-- 
		<div class="google-maps">

		<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d13402.617189694329!2d-117.23119452590333!3d32.880864988683385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smarkets!5e0!3m2!1sen!2sus!4v1423084181223" width="600" height="450" frameborder="0" style="border:0"></iframe>

		<iframe src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCAoXsjsTgbqzLrJUTVX5UQntWrX6tnzNM&q=markets+ucsd"> </iframe>

		</div> -->

		<div id="mapContainer"></div>


		<!-- PANEL -->

<!--  			<div class="panel-body">
 				<h3 >Nearby: Earl's Place Market<br/><br/></h3>

    		Gluten Free Items: Glutino, Abcd, Efgh
    		<br/>
    		Vegan Items: Viana, Abcd, Efgh
    		<br/>
    		Vegatarian Items: Example, Abcd, Efgh
    		
    		<br/><br/>
			<button type="button" id="upvote" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> 121 </button>
  			</div>

  			<div class="panel-body">
 				<h3 >1.1 miles away: Goody's Market<br/><br/></h3>

    		Gluten Free Items: Applegate, Earthbound Farm, Etc
    		<br/>
    		Vegan Items: The Vegg, Abcd, Efgh
    		<br/>
    		Vegatarian Items: Lightlife, Nate's, Etc
    		
    		<br/><br/>
			<button type="button" id="upvote" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> 36 </button>
  			</div>

  			<div class="panel-body">
 				<h3 >1.3 miles away: Roots<br/><br/></h3>

    		Gluten Free Menu: Pacific Crest, Chop-Chop River
    		<br/>
    		Vegan Menu: Hetch Hetchy, The Root Berger, Tuolomme Meadows
    		<br/>
    		Vegatarian Menu: Sweet Potato Fries, Fern Creek Smoothies
    		
    		<br/><br/>
			<button type="button" id="upvote" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> 45 </button>
  			</div> -->
		
		<div class="panel panel-default ">
  			<div class="panel-body">
  				<h3 id="canyon-vista-toggle">Canyon Vista <span class="glyphicon glyphicon-chevron-down"></span></h3>

	  			<div class="canyon-vista" style="display:none;">
	  				<br/>

		  			{{#each canyonData.canyonvistaposts}}
		 			<div class="canyonvistaposts">
		        		<h4>
		    			{{name}}  ({{type}})
		    			<br/>
		    			<button type="button" class="btn btn-default btn-sm upvote"><span class="glyphicon glyphicon-thumbs-up"></span> {{upvotes}}</button>
		    			<button type="button" class="btn btn-default btn-sm downvote"><span class="glyphicon glyphicon-thumbs-down"></span> {{downvotes}}</button>
		    			</h4>
		    		</div>
		    		{{/each}}
		    		<br/>

				    <form id="addCanyonVistaForm" role="form" method="get" action="/addcanyonvista">
					    <h4><strong>Add Menu</strong></h4>
					    <div class="form-group form-inline">
					      	<label for="name">Name:</label>
					      	<input type="text" class="form-control" id="name" placeholder="e.g. fish" name="name">
					    </div>
					    <div class="form-group form-inline">
					    <label for="type">Type:</label>
					     	<input type="text" class="form-control" id="type" placeholder="e.g. Gluten-free" name="type">
					    </div>
					    <input type="submit" id="submitBtn" class="btn btn-default" value="Post"></input>
					</form>
	    		</div>
  			</div>
		</div>

		<div class="panel panel-default ">
			<div class="panel-body">
  				<h3 id="pines-toggle">Pines <span class="glyphicon glyphicon-chevron-down"></span></h3>

	  			<div class="pines" style="display:none;">
	  				<br/>

		  			{{#each pinesData.pinesposts}}
		 			<div class="pinesposts">
		        		<h4>
		    			{{name}}  ({{type}})
		    			<br/>
		    			<button type="button" class="btn btn-default btn-sm upvote"><span class="glyphicon glyphicon-thumbs-up"></span> {{upvotes}}</button>
		    			<button type="button" class="btn btn-default btn-sm downvote"><span class="glyphicon glyphicon-thumbs-down"></span> {{downvotes}}</button>
		    			</h4>
		    		</div>
		    		{{/each}}
		    		<br/>

				    <form id="addPinesForm" role="form" method="get" action="/addpines">
					    <h4><strong>Add Menu</strong></h4>
					    <div class="form-group form-inline">
					      	<label for="name">Name:</label>
					      	<input type="text" class="form-control" id="name" placeholder="e.g. fish" name="name">
					    </div>
					    <div class="form-group form-inline">
					    <label for="type">Type:</label>
					     	<input type="text" class="form-control" id="type" placeholder="e.g. Gluten-free" name="type">
					    </div>
					    <input type="submit" id="submitBtn" class="btn btn-default" value="Post"></input>
					</form>
	    		</div>
  			</div>
  		</div>

  		<div class="panel panel-default ">
  			<div class="panel-body">
  				<h3 id="roots-toggle">Roots <span class="glyphicon glyphicon-chevron-down"></span></h3>

	  			<div class="roots" style="display:none;">
	  				<br/>
		  			{{#each rootsData.rootsposts}}
		 			<div class="rootsposts">
		        		<h4>
		    			{{name}}  ({{type}})
		    			<br/>
		    			<button type="button" class="btn btn-default btn-sm upvote"><span class="glyphicon glyphicon-thumbs-up"></span> {{upvotes}}</button>
		    			<button type="button" class="btn btn-default btn-sm downvote"><span class="glyphicon glyphicon-thumbs-down"></span> {{downvotes}}</button>
		    			</h4>
		    		</div>
		    		{{/each}}
		    		<br/>

				    <form id="addRootsForm" role="form" method="get" action="/addroots">
					    <h4><strong>Add Menu</strong></h4>
					    <div class="form-group form-inline">
					      	<label for="name">Name:</label>
					      	<input type="text" class="form-control" id="name" placeholder="e.g. fish" name="name">
					    </div>
					    <div class="form-group form-inline">
					    <label for="type">Type:</label>
					     	<input type="text" class="form-control" id="type" placeholder="e.g. Gluten-free" name="type">
					    </div>
					    <input type="submit" id="submitBtn" class="btn btn-default" value="Post"></input>
					</form>
	    		</div>
  			</div>
  		</div>
	</div>

	<!-- Include Google Maps API -->
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	
	<!-- The following two js are Lightbox jquery scripts -->
	<script src="js/jquery-1.11.0.min.js"></script>
	<script src="js/lightbox.min.js"></script>
	<script src="js/nutriton.js"></script>

	<script type="text/javascript">
	
	$("#canyon-vista-toggle").click(function(){
		$(".canyon-vista").toggle();
	});

	$("#pines-toggle").click(function(){
		$(".pines").toggle();
	});

	$("#roots-toggle").click(function(){
		$(".roots").toggle();
	});

		function showMap() {
		 
			//If HTML5 Geolocation Is Supported In This Browser
		    if (navigator.geolocation) {
				    
			    //Use HTML5 Geolocation API To Get Current Position
		        navigator.geolocation.getCurrentPosition(function(position){
			        
			        //Get Latitude From Geolocation API
			        var latitude = position.coords.latitude;
			        
			        //Get Longitude From Geolocation API
			        var longitude = position.coords.longitude;
			        
			        //Define New Google Map With Lat / Lon
			        var coords = new google.maps.LatLng(latitude, longitude);
			        
			        //Specify Google Map Options
			        var mapOptions = {
			            zoom: 15,
			            center: coords,
			            mapTypeControl: true,
			            navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL}, mapTypeId: google.maps.MapTypeId.ROADMAP};
			            map = new google.maps.Map(document.getElementById("mapContainer"), mapOptions);
			            var marker = new google.maps.Marker({
			                position: coords,
			                map: map,
			                title: "You Are Here!"
			    		});
					}
				);
		    }else {
			    //Otherwise - Gracefully Fall Back If Not Supported... Probably Best Not To Use A JS Alert Though :)
		        alert("Geolocation API is not supported in your browser.");
		    }
		}   
	    
		//Once Page Is Populated - Initiate jQuery
		$(document).ready(function() {
			
		  //Show The Map
		  showMap();
		 
		  // When The Viewing Window Is Resized
		  $(window).resize(function() {
			  
			  //CSS Resizes Container So Lets Recall The Map Function
			  showMap();
			  
		  });
		 
		});
	        
	</script>
	
  </body>
</html>