<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nuTriton</title>

    <!-- Font -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Lato|Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Ubuntu:300,400,500,700,300italic,400italic,500italic|Open+Sans:400italic,600italic,700italic,700,600,400|Roboto:400,300italic,300,400italic,500,500italic,700,700italic|Raleway:400,300,500,600,700|Pacifico' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- Lightbox -->
	<link href="css/lightbox.css" rel="stylesheet" />
    
    <style>

	body {
		background-color: #e9f1d0;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 160%;
	}

	h3 {
		margin: 0px;
		padding:10px 0px 0px 0px;
	}

	.panel-body {
		background-color: #f8faef;
	}
	
	.navbar-brand {
		font-family: "Pacifico", serif;
		font-size: 22pt;
		text-shadow: 1px 1px 2px #17A57D;
	}

.navbar-default {
  background-color: #87b822;
  border-color: #87b822;
  font-size: 1.05em;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #d4dca8;
}
.navbar-default .navbar-nav > li > a {
  color: #d4dca8;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #87b822;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #87b822;
}
.navbar-default .navbar-toggle {
  border-color: #87b822;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #87b822;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d4dca8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d4dca8;
}
.navbar-default .navbar-link {
  color: #d4dca8;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d4dca8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #87b822;
  }
}
    </style>

  </head>
  <body>

  	<!-- NAVBAR -->
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header"> 
				<a href="index" class="navbar-brand">nuTriton </a> 
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>

				</button>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"> <a href="index" > Home </a></li>
					<li > <a href="foodfinder" > Food Finder </a></li>
					<li> <a href="profile" >Profile </a></li>
					<li> <a href="help"> Help </a></li>
					<li> <a href="/" > Log Out </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container"></div>
		</br>
		</br>
		</br>
	</div>

	<div class="container">
		<!-- <div class="jumbotron">
 		 <h1>Welcome to nuTriton!</h1>
 		 <p>This is the place where you can find foods suitable for your diets and allergies.</p>
		</div>
 		-->

		<!-- PANEL -->
	<!-- 	<div class="panel panel-default ">

 			<div class="panel-body">
 				<h3 >The Best Vegan Restaurants of 2014 in San Diego<br/><br/></h3>

 			<div class="row">

	  		<div class="col-xs-6 col-md-3">
	   		 <a href="https://c1.staticflickr.com/3/2759/4218998081_ef0de9fbc9_z.jpg?zz=1" data-lightbox="image-1" class="thumbnail">
	      	<img src="https://c1.staticflickr.com/3/2759/4218998081_ef0de9fbc9_z.jpg?zz=1"/>
	    	</a>
	  		</div>

	  		<div class="col-xs-6 col-md-3">
	    	<a href="https://c2.staticflickr.com/8/7163/6750034613_2806e59dff_b.jpg" data-lightbox="image-1" class="thumbnail">
	    	<img src="https://c2.staticflickr.com/8/7163/6750034613_2806e59dff_b.jpg"/>
	    	</a>

	  		</div>
			</div>

  			</div>
		</div> -->

        <button type="button" class="btn btn-default pull-right"><a href="#bottom"><span class="glyphicon glyphicon-plus"></span> New Post</a></button>
        <br/>
        <br/>


		{{#each posts}}
		<div class="panel panel-default ">
			<div class="panel-body">
 				<div class="post" id="post{{id}}">				
        		<h3>{{title}}</h3>
        		<br/>
        		<p>{{content}}</p>
        		<br/>
        		<button type="button" class="upvote btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> {{upvotes}}</button>
    			<button type="button" class="downvote btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> {{downvotes}}</button>
    			<a href="#"><button type="button" class="btn btn-default">Options</button></a>
				<button type="button" class="btn btn-default favorite pull-right"><span class="glyphicon glyphicon-star-empty"></span></button>
				<div class="details"></div>
    			</div>

    		</div>
    	</div>
    	{{/each}}
    	
    	<!--     			<div class="comments" style="display:none;">
    				<br/>
    				{{comments}}
    				<form id="addFriendForm" role="form" method="get" action="/addcomment">
				    <div class="form-group">
				      	<input type="text" class="form-control" id="title" placeholder="Add comment..." name="title">
				    </div>
				    <input type="submit" id="submitBtn" class="btn btn-default" value="Post"></input>
				</form>
    			</div> -->

    	<div class="panel panel-default post" id="post{{id}}">
			<div class="panel-body">
			    <form id="new-post-form" role="form" method="get" action="/add">
				    <div class="form-group">
				    	<h3>Create New Post</h3>
				    	<br/>
				      	<label for="title">Title:</label>
				      	<input type="text" class="form-control" id="title" placeholder="Title" name="title">
				      	<label for="content">Content:</label>
				     	<input type="text" class="form-control" id="content" placeholder="Content" name="content">
				    </div>
				   	<a name="bottom">
				    <button type="button" id="newPostSubmitButton" class="btn btn-default">Post</button>
				</form>
			</div>
		</div>
	</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	
	<!-- The following two js are Lightbox jquery scripts -->
	<script src="js/jquery-1.11.0.min.js"></script>
	<script src="js/lightbox.min.js"></script>
	<script src="js/nutriton.js"></script>

	<script>
	

	function initializePage() {
		$('.post a').click(function(e) {
			e.preventDefault();

			var postID = $(this).closest('.post').attr('id');
			var idNumber = postID.substr('post'.length);
			var url_call = '/index/post/'+idNumber;

			function addProjectDetails(project_json) {

				// compose the HTML
				var new_html =
					'<br/> <button class="post-delete btn btn-default" type="button">Delete Post</button>';

				// get the DIV to add content to
				var details_div = $('#post' + idNumber + ' .details');
				// add the content to the DIV
				details_div.html(new_html);

				details_div.find('.post-delete').click(function(e) {
					$.post('/index/post/'+idNumber+'/delete', function() {
						window.location.href = '/index';
					});
				});
			}

			// issue the GET request
			$.get(url_call, addProjectDetails);
		});

		$('#newPostSubmitButton').click(function(e) {
			console.log('clicked');
			var title = $('#new-post-form #title').val();
			var content = $('#new-post-form #content').val();
			var json = {
				'post_title': title,
				'content': content
			};
			$.post('/index/post/new', json, function() {
				window.location.href = '/index'; // reload the page
			});
		});

		$(".comments-toggle").click(function(){
			console.log("clicked on comments");
			$(".comments").toggle();
		});
	}
	</script>
	
  </body>
</html>