<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>nuTriton</title>
    <link rel="shortcut icon" href="images/leaf.ico">
    <!-- Font -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Lato|Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Ubuntu:300,400,500,700,300italic,400italic,500italic|Open+Sans:400italic,600italic,700italic,700,600,400|Roboto:400,300italic,300,400italic,500,500italic,700,700italic|Raleway:400,300,500,600,700|Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- Lightbox -->
	<link href="css/lightbox.css" rel="stylesheet" />
    
    {{> tracking_code_script}}

    <style>

	body {
		background-color: #e9f1d0;
		font-family: 'Montserrat', sans-serif;
	}

	h3 {
		margin: 0px;
		padding:10px 0px 0px 0px;
	}

	.panel-body {
		background-color: #f8faef;
	}
	
	.navbar-brand {
		font-family: "Pacifico", serif;
		font-size: 22pt;
		text-shadow: 1px 1px 2px #17A57D;
	}

.navbar-default {
  background-color: #87b822;
  border-color: #87b822;
  font-size: 1.05em;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #d4dca8;
}
.navbar-default .navbar-nav > li > a {
  color: #d4dca8;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #87b822;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #87b822;
}
.navbar-default .navbar-toggle {
  border-color: #87b822;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #87b822;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d4dca8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d4dca8;
}
.navbar-default .navbar-link {
  color: #d4dca8;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d4dca8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #87b822;
  }
}
    </style>

  </head>
  <body>

  	<!-- NAVBAR -->
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header"> 
				<a href="foodfinder" class="navbar-brand">nuTriton </a> 
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>

				</button>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li > <a href="foodfinder" class="foodfinder_click"> Food Finder </a></li>
					<li class="active"> <a href="index" class="feed_click"> Feed </a></li>
					<li> <a href="profile" class="profile_click">Profile </a></li>
					<li> <a href="/" class="logout_click"> Log Out </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container"></div>
		</br>
		</br>
		</br>
	</div>

	<div class="container">
        <button type="button" class="btn btn-default pull-right"><a href="#bottom"><span class="glyphicon glyphicon-plus"></span> New Post</a></button>
        <button type="button" class="btn btn-default pull-right"><a href="#" id="">?</a></button>
        <br/>
        <br/>

		<div class="panel panel-default ">
			<div class="panel-body">
 				<div class="post">				
        		<h3>Thoughts on Glutino Snack</h3>
        		<br/>
        		<p>Glutino, as the name suggests, is a gluten-free snack. I first tried this in Earl's Place and Market, and this has been my go to snack ever since. This snack fits my needs well, because it has the right amount of nutrition, which is good for a snack on the go. It also tastes good, although it might not be suitable for supertasters. Overall I would recommend this snack for people with gluten-free diets.</p>
        		<br/>
        		<button type="button" class="upvote btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> 31</button>
    			<button type="button" class="downvote btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> 3</button>
				<button type="button" class="btn btn-default favorite pull-right"><span class="glyphicon glyphicon-star-empty"></span></button>
    			</div>
    		</div>
    	</div>


		<div class="panel panel-default ">
			<div class="panel-body">
 				<div class="post">				
        		<h3>New Vegan Products at The Market</h3>
        		<br/>
        		<p>The Market now carries several new vegan products, namely Veganaise, Amy's Entrees, Gardien Sandwiches and a variety of fresh produce. They have been the place on campus with the leading selection of vegan products, and these new additions make them even more vegan-friendly. With these additions The Market carries over ten different types of vegan products. If you have time, do check out the new products.
        		</p>
        		<br/>
        		<button type="button" class="upvote btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> 25</button>
    			<button type="button" class="downvote btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> 2</button>
				<button type="button" class="btn btn-default favorite pull-right"><span class="glyphicon glyphicon-star-empty"></span></button>
    			</div>
    		</div>
    	</div>

		{{#each posts}}
		<div class="panel panel-default ">
			<div class="panel-body">
 				<div class="post" id="post{{id}}">				
        		<h3>{{title}}</h3>
        		<br/>
        		<p>{{content}}</p>
        		<br/>
        		<button type="button" class="upvote btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> {{upvotes}}</button>
    			<button type="button" class="downvote btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> {{downvotes}}</button>
    			<a href="#"><button type="button" class="btn btn-default">Options</button></a>
				<button type="button" class="btn btn-default favorite pull-right"><span class="glyphicon glyphicon-star-empty"></span></button>
				<div class="details"></div>
    			</div>

    		</div>
    	</div>
    	{{/each}}
    	
    	<!--     			<div class="comments" style="display:none;">
    				<br/>
    				{{comments}}
    				<form id="addFriendForm" role="form" method="get" action="/addcomment">
				    <div class="form-group">
				      	<input type="text" class="form-control" id="title" placeholder="Add comment..." name="title">
				    </div>
				    <input type="submit" id="submitBtn" class="btn btn-default" value="Post"></input>
				</form>
    			</div> -->

    	<div class="panel panel-default">
			<div class="panel-body">
			    <form id="new-post-form" role="form" method="get" action="/add">
				    <div class="form-group">
				    	<h3>Create New Post</h3>
				    	<br/>
				      	<label for="title">Title:</label>
				      	<input type="text" class="form-control" id="title" placeholder="Title" name="title">
				      	<label for="content">Content:</label>
				     	<input type="text" class="form-control" id="content" placeholder="Content" name="content">
				    </div>
				   	<a name="bottom">
				    <button type="button" id="newPostSubmitButton" class="btn btn-default">Post</button>
				</form>
			</div>
		</div>
	</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	
	<!-- The following two js are Lightbox jquery scripts -->
	<script src="js/jquery-1.11.0.min.js"></script>
	<script src="js/lightbox.min.js"></script>
	<script src="js/nutriton.js"></script>

	
  </body>
</html>